body.docs header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	body.docs header, main, footer {
		padding-left: 0;
	}
	li.logo {
		margin-top: 40px;
	}
	.btn-toggle-right {
		float: right !important;
	}
	.brand-logo.title {
		margin-left:0px !important;
	}
	.row > .col.s12 {
		padding-left: 10px !important;
	}
}

.heart {
	color: #f44336;
}

ul.side-nav.fixed {
	overflow: auto;
}

li.logo .brand-logo {
	position: relative;
	border-bottom: 1px solid #DDD;
	margin-bottom: 5px;
}

.brand-logo.title {
	margin-left: 50px;
}

.row > .col.s12 {
  padding-left: 50px;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

section ul > li > ul > li {
  list-style-type: circle;
  margin-left: 30px;
}
section ul > li > ul {
  font-weight: 300;
}